---
import Footer from "@/components/Common/Footer.astro";
import Header from "@/components/Common/Header.astro";
import Seo from "@/components/Common/Seo.astro";
import "@/styles/global.css";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Seo title={title} description={description} />
  </head>
  <body class="min-h-screen font-body">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
